<div class="large-12 columns" id="measurementTypeList">
    {% for measurement_type in measurement_types %}
        <a class="button expand secondary" data-slug="{{ measurement_type.slug }}">
            {{ measurement_type.name }}
        </a>
    {% endfor %}
    <button class="expand" id="getGraphs">Go</button>
</div>
<input type="date" id="startDate" />
<input type="date" id="endDate" />