{% extends 'layout.html.twig' %}
{% block body %}
    <div class="center row">
        <div class="large-12 columns">
            <h2>Error</h2>
            <h3>Needless to say, something went wrong. We're working it.</h3>

            <div class="panel callout radius">
                <a href="{{ path('homepage') }}">This way to the home page.</a>
            </div>

        </div>
    </div>
{% endblock %}