<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% javascripts
            '@AppBundle/Resources/public/vendor/modernizr/modernizr.js'
            '@AppBundle/Resources/public/vendor/jquery/dist/jquery.js'
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/vendor/foundation/css/*.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style>
                body {
                    margin-bottom: 30px;
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% include 'layout/header.html.twig' %}
    {% block body %}{% endblock %}
        {% block javascripts%}
            {% javascripts
            '@AppBundle/Resources/public/vendor/foundation/js/foundation.js'
            '@AppBundle/Resources/public/vendor/foundation/js/foundation/foundation.topbar.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    {% include 'layout/footer.html.twig' %}
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
