{% extends '::layout.html.twig' %}
{% block body %}
    {% if app.user %}
        Logged In!
    {% else %}
        <h2 class="text-center">Please log in to continue</h2>
        {% render controller("FOSUserBundle:Security:login") %}
        <a href="{{ path('fos_user_registration_register') }}">Or Register</a>
    {% endif %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}