{% extends '::layout.html.twig' %}
{% block body %}
    <h2 class="text-center">Please log in to continue</h2>
    {% render controller("FOSUserBundle:Security:login") %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}