{% extends 'layout.html.twig' %}
{% block body %}
    <div class="center row">
        <div class="large-12 columns">
            <h2>What services do you have?</h2>
        </div>
    </div>
    <form>
        <div class="center row">
            <div class="large-12 columns">
            {% for provider in providers %}
                <a href="{{ path('withingsauthorize') }}" class="button expand">{{ provider.provider_name }}</a>
            {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}