{% extends '::base.html.twig' %}
{% block body %}
    <div class="center row">
        <div class="large-12 columns">
            <h1>What services do you have?</h1>
        </div>
    </div>
    <form>
        <div class="center row">
            <div class="large-12 columns">
                <a href="#" class="button expand">Withings</a>
                <a href="#" class="button expand">Jawbone</a>
                <a href="#" class="button expand">FitBit</a>
                <a href="#" class="button expand">Basis</a>
            </div>
        </div>
    </form>
{% endblock %}