# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt


    # Withings Configuration
    withings_consumer_key: 0513f1d73b6dbf44147357f89b6e9c8921d948c4e884e107cdbcc5fb7d
    withings_consumer_secret: e4dcdceb32b1f54617c17d2223e522e4405346cb62f0c02729350bc8e605
    withings_callback_uri: http://localhost:8000/withings/callback
