{% extends 'layout.html.twig' %}
{% block body %}
<div class="center row">
    <div class="large-12 columns">
        <h1>Welcome to HappyStats!</h1>
        <a href="{{ path('providers') }}">Get started by adding service providers</a>
    </div>
</div>
{% endblock %}