<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/visualization/styles/globalStyles.css" />

<div id="dThree">
    <svg></svg>
    <div id="legend"></div>
</div>

<!-- <script src="lib/chartModuleGen.js"></script> -->
<!-- <script src="lib/chartGen.js"></script> -->
<script src="/visualization/vendor/jquery.js"></script>
<script src="/visualization/lib/globalScripts.js"></script>
<script src="/visualization/jspm_packages/system.js"></script>

<script src="/visualization/vendor/d3.js"></script>
<script src="/visualization/vendor/date.js"></script>
<script src="/visualization/vendor/lodash.js"></script>

<script>
    System.paths['traceur'] = '/visualization/node_modules/traceur/bin/traceur.js';
    var drawGen;
    System.import('/visualization/lib/chartGen').then(function (imp) {
        drawGen = imp.default;
    });
    System.import('/visualization/lib/chartMaster');
</script>
