{% extends '::layout.html.twig' %}
{% block body %}
    <style type="text/css">
        .data-graph {
            border: none;
            width: 100%;
        }
        iframe body img {
            width: 100%;
        }
    </style>
    <div class="center row">
        <div class="large-12 columns">
            <h2>Your {% for measurement_type in measurement_types %}{{ measurement_type.name }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}</h2>
        </div>
    </div>
    <div class="center row">
        <div class="large-12 columns">
            <iframe id="iframeId" class="data-graph" height="400px" src="http://hdlbit.com/visualization/index.html?measure={{ measurementTypeSlug }}" onload="iframeLoaded()" scrolling="no">Loading Graph</iframe>
        </div>
    </div>
    <script type="text/javascript">
        function iframeLoaded() {
            setTimeout(function(){
                var iframe = document.getElementById('iframeId');
                iframe.height = "";
                iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
            }, 1200);
        }

	window.addEventListener("message", receiveMessage, false);
	function receiveMessage(event) {
	console.log(event);
	if (event.data === "rendered") {
	iframeLoaded();
	}
	}
    </script>
{% endblock %}
