{% extends '::layout.html.twig' %}
{% block body %}
    <script type="text/javascript">
        function iframeLoaded() {
            var iframe = document.getElementById('iframeId');
            iframe.height = "";
            iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
        }
    </script>
    <style type="text/css">
        .data-graph {
            background-color: #CCC;
            width: 100%;
        }
        .top-bar {
            margin-bottom: 10px;
        }
        iframe body img {
            width: 100%;
        }
    </style>
    <div class="center row">
        <div class="large-12 columns">
            <h2>Your Data</h2>
        </div>
    </div>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Withings</a></h1>
            </li>
        </ul>
    </nav>
    <div class="center row">
        <div class="large-12 columns">
            <iframe id="iframeId" class="data-graph" src="http://hdlbit.com/visualization/index.html?measure={{ measurementTypeSlug }}" onload="iframeLoaded()" scrolling="no">Datas</iframe>
        </div>
    </div>

{% endblock %}