<nav class="top-bar" data-topbar role="navigation" style="margin-bottom: 15px">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ path('homepage') }}">Swimming Armadillo</a></h1>
        </li>
    </ul>
</nav>