<nav class="top-bar" data-topbar role="navigation" style="margin-bottom: 15px">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ path('homepage') }}">HappyStats</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li{% if app.request.attributes.get('_route') == 'abtestindex' %} class="active"{% endif %}><a href="{{ path('abtestindex') }}">A/B Tests</a></li>
        </ul>
        <ul class="left">
            <li{% if app.request.attributes.get('_route') == 'graph' %} class="active"{% endif %}><a href="{{ path('graph') }}">Graphs</a></li>
        </ul>
        <ul class="left">
            <li{% if app.request.attributes.get('_route') == 'correlator' %} class="active"{% endif %}><a href="{{ path('correlator') }}">Correlator</a></li>
        </ul>
    </section>
</nav>