{% extends 'layout.html.twig' %}
{% block body %}
    <div class="center row">
        <div class="large-12 columns">
            <h2>What services do you have?</h2>
            <div class="panel callout radius">
                <p>Click the blue buttons below to set up your wearable tech.</p>
            </div>
        </div>
    </div>
    <form>
        <div class="center row">
            <div class="large-12 columns">
            {% for provider in providers %}
                {% if provider.id in authenticatedProviders %}
                    <span class="success label">Already Authenticated</span>
                {% else %}
                    <span class="label">Still need to authenticate</span>
                {% endif %}
                 <a href="{% if provider.id in authenticatedProviders %}javascript:alert('already authenicated');{% else %}{{ path('providerauthorize', {'providerSlug': provider.slug}) }}{% endif %}" class="button expand{% if provider.id in authenticatedProviders %} success{% endif %}">
                        {{ provider.name }}
                </a>
            {% endfor %}
            </div>
        </div>
    </form>
    <div class="center row">
        <div class="large-12 columns">
            <div class="panel radius">
                <p>Once you're done, head over to <a href="{{ path("graph") }}">Graphs</a> to visualize your data.</p>
            </div>
        </div>
    </div>
{% endblock %}