{% extends 'layout.html.twig' %}
{% block body %}
    <div class="center row">
        <div class="large-12 columns">
            <div class="panel callout radius">
                <p>Give your test a name and a quick description.</p>
                <p>Then define start and end dates for your human guinea pig test.</p>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <style>
        select {
            width: 30%;
        }
        button {
            margin-top: 10px;
        }
    </style>
{% endblock %}