{% extends 'layout.html.twig' %}
{% block body %}
    <div class="large-12 columns">

        <h1>{{ abtest.name }}</h1>

        <p>{{ abtest.description }}</p>
        <p>{{ abtest.startDate|date('M-d') }} - {{ abtest.endDate|date('M-d') }}</p>

        <h2>Insights</h2>

        <ul>
            <li>Weight increased by approximately 5% a day.</li>
            <li>Lean mass did not increase proportionately to fat mass.</li>
            <li>Increased restless sleep.</li>
            <li>Blood pressure increase.</li>
            <li>Blood glucose levels rose.</li>
            <li>List item</li>
        </ul>
    </div>
{% endblock %}