
body {
	font-family: sans-serif;
}
svg {
	/*border: 1px solid black;*/
}
.dotPlot {
}
#notice {
position: absolute;
top: 50%;
left: 49%;
text-align: center;
}
.dotPlot circle {
    opacity: 0.4;
}
#legend .disabled .legendDot {
    background-color: white !important;
    border-color: black;
}
#legend .legendDot {
    opacity: .5;
    content: '';
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    display:inline-block;
    margin-right: .25em;
}
#legend > div {
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}